$color-primary : #000;
$color-secondary: #81c784;


body {
  font-family: Roboto sans-serif;
  background-color: $color-primary; 
}
.App {
  font-family: Roboto sans-serif;
  color: $color-secondary;
}

.leaflet-container {
   background-color: transparent !important;
   height: 500px;
   width: 100%; 
   font-style: Roboto, sans-seriff; 
 }